<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Name</h3>
    </div>
    <div class="col-md-3">
      <h3>Balance</h3>
    </div>
    <div class="col-md-3">
      <h3>Phone Number</h3>
    </div>
  </div>
  <div *ngFor="let user of users">
    <div class="row">
        <div class="col-md-3">
          {{ user.Name }}
        </div>
        <div class="col-md-3">
          {{ user.Balance }}
        </div>
        <div class="col-md-3">
          {{ user.Phone }}
        </div>
        <div class="col-md-3">
          <a class="delete" routerLink="/users/{{ user._id}}" (click)="change(false)"><button><span>Update User</span></button></a>
        </div>
    </div>
  </div>
</div>
